 <!-- About Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>From renovations and repairs to painting, gardening and
					cleaning. Let us take care of it at an affordable price.</p>
                </div>
                <div class="col-lg-4">
                    <p>Ask us if you need someone that really understands your
					needs and ensures you are truly happy with the results.</p>
                </div>
            </div>
        </div>
    </section>
