 <!-- About Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ønsker du jobben gjort av noen som virkelig bryr seg?
					Noen med empati som forstår dine ønsker og gjør jobben skikkelig?</p>
                </div>
                <div class="col-lg-4">
                    <p>Rengjøring av hjem og kontorlokaler, renovering, reparasjoner,
					maling og hagearbeid. La oss ta jobben til en god pris.</p>
                </div>
            </div>
        </div>
    </section>
